<article class="main">
    <h2>Oops!</h2>
    <p>Sorry, we could not find the page you requested.
        Here is a nice picture for you to look at while you decide
    what to do next.</p>
    <img src="/images/farm_eggs.jpg" style="max-width: 400px; margin: 0 auto;">
</article>