
<article class="main">

    <h2>About Kokovoko Farm</h2>

    <div class="carouselbox left">
        <div class="buttons">
            <button class="prev">
                ◀ <span class="offscreen">Previous</span>
            </button>
            <button class="next">
                <span class="offscreen">Next</span> ▶
            </button>
        </div>
        <ol class="carouselcontent">
            <li><img src="images/lambs.jpg" alt="lambs"></li>
            <li><img src="images/toddler-with-pony.jpg" alt="toddler"></li>
            <li><img src="images/friggin-enormous-peacock.jpg" alt="peacock"></li>
            <li><img src="images/vegetables.jpg" alt="Veggies"></li>
            <li><img src="images/several-sheep.jpg" alt="Sheep"></li>
            <li><img src="images/girl-hugging-horse.jpg" alt="Girl with Horse"></li>
        </ol>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus luctus hendrerit. Etiam
        rhoncus imperdiet metus, a pulvinar turpis porta auctor. Suspendisse felis urna,
        egestas sit amet eleifend nec, aliquet id sem. Mauris tristique nunc eu ex rutrum,
        eget vulputate tellus convallis. Vestibulum id massa lectus. Aliquam egestas sit
        amet sem sed posuere. Suspendisse leo erat, ullamcorper sit amet elit eu, hendrerit
        dignissim massa. Vivamus non nisi vitae turpis venenatis egestas. In et orci sed
        lacus viverra interdum. Suspendisse potenti. Praesent a cursus odio. Nunc dapibus
        arcu sed justo dapibus posuere. Fusce ut hendrerit mi.</p>

    <h3>What We Offer</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus &hellip;</p>



    <h4>Ponies</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus luctus hendrerit. Etiam
        rhoncus imperdiet metus, a pulvinar turpis porta auctor. Suspendisse felis urna,
        egestas sit amet eleifend nec, aliquet id sem. Mauris tristique nunc eu ex rutrum,
        eget vulputate tellus convallis. Vestibulum id massa lectus. Aliquam egestas sit
        amet sem sed posuere. Suspendisse leo erat, ullamcorper sit amet elit eu, hendrerit
        dignissim massa. Vivamus non nisi vitae turpis venenatis egestas. In et orci sed
        lacus viverra interdum. Suspendisse potenti. Praesent a cursus odio. Nunc dapibus
        arcu sed justo dapibus posuere. Fusce ut hendrerit mi.</p>


    <h4>Farm Stay</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus luctus hendrerit. Etiam
        rhoncus imperdiet metus, a pulvinar turpis porta auctor. Suspendisse felis urna,
        egestas sit amet eleifend nec, aliquet id sem. Mauris tristique nunc eu ex rutrum,
        eget vulputate tellus convallis. Vestibulum id massa lectus. Aliquam egestas sit
        amet sem sed posuere. Suspendisse leo erat, ullamcorper sit amet elit eu, hendrerit
        dignissim massa. Vivamus non nisi vitae turpis venenatis egestas. In et orci sed
        lacus viverra interdum. Suspendisse potenti. Praesent a cursus odio. Nunc dapibus
        arcu sed justo dapibus posuere. Fusce ut hendrerit mi.</p>


    <h4>Handspinning Suppplies and Wool Products</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus luctus hendrerit. Etiam
        rhoncus imperdiet metus, a pulvinar turpis porta auctor. Suspendisse felis urna,
        egestas sit amet eleifend nec, aliquet id sem. Mauris tristique nunc eu ex rutrum,
        eget vulputate tellus convallis. Vestibulum id massa lectus. Aliquam egestas sit
        amet sem sed posuere. Suspendisse leo erat, ullamcorper sit amet elit eu, hendrerit
        dignissim massa. Vivamus non nisi vitae turpis venenatis egestas. In et orci sed
        lacus viverra interdum. Suspendisse potenti. Praesent a cursus odio. Nunc dapibus
        arcu sed justo dapibus posuere. Fusce ut hendrerit mi.</p>


</article>

