
<article class="main article1">
    <h2>Southeastern Animal Fiber Fair!</h2>
    <img src="images/leslie-fiber-fair.jpg" alt="Leslie at Southeastern Fiber Fair">
    <p>Every year around Halloween, we take our show on the road to Asheville, NC.
        It's one of my favorite cities, and it's the most gorgeous time of year.
        "Peak Color" they call it. And it is SO pretty. SAFF is held at the North
        Carolina Ag Center, right across from the Asheville Airport. </p>


</article>
<article class="main article2">
    <h2>Spinning-Related Prodcuts</h2>
    <p>Handspinning is a passion with us, and so are our sheep!
        Take a look at some of what we have to offer.</p>
    <h3>Lincoln Longwools</h3>
    <img class="left" src="images/pony-sheep.jpg" alt="Sheep with Pony">
    <p>They are just plain gorgeous. For 27 years, I've been breeding for wool
        quality in my Lincoln Longwool based flock. The sheep grow an inch of wool
        a month, and it's lustrous, long, and soft.​ You can get fleece in any form
        you like, from unwashed raw to finished roving, in either white or
        silver/gray. Many love the white locks for crafting, especially santa beards.
        And both colors are great for dyeing! For tapestry weaving or knitting,
        this wool is gorgeous and SO easy to spin. Make sure to look at the beginners
        kit, which includes spindle, book and wool. It's all you need to make a
        lovely hat!</p>
    <img class="right" src="images/wool.jpg" alt="Sheep Wool">

    <h3>Lambs, Sheepskins, Meat</h3>

    <p>We sell lambs for breeding or meat. It's a fact, they're delicious!
        They are also fast growing, make terrific moms, and are a great addition
        to your flock to add both size and wool quality.</p>

    <p>We also sell gorgeous sheepskins. They are huge compared with most on the
        market, and SO comfy to sit on. Warning, your cat will try to steal it
        from you!</p>

    <img class="left" src="images/child-with-lamb.jpg" alt="Child with Lamb">
    <img class="right" src="images/sheepskin.jpg" alt="Sheepskin">



</article>

