
<article class="main">
    <img class="left" src="images/leslie-fair-red.jpg" alt="Leslie at a Booth">
    <h2>Spinning Supplies</h2>

    <p> Our finely crafted and perfectly balanced spindles are simple and gorgeous.
        Each made by hand here in Berea, KY. We've been known worldwide for them for
        25 years. For the sheer pleasure of perfection</p>

    <ul style="list-style-position: inside">
        <li>Our infamous High Whorls; $30</li>
        <li>Kokovoko Balkan; small or large. $40</li>
        <li>Spindle Rack to hold all your treasures. $55</li>
        <li><em>Spindle Spinning: from Novice to Expert</em> is simply
            the best spindling book. $14</li>
        <li><strong>Kokovoko Curls.</strong>  We've been breeding Lincoln Longwools
            for 25 years now. Lustrous locks in washed or raw fleece from $7/lb.
            Roving is $25/lb or $2/oz</li>
        <li>Ceramic Bowls for support spindling, each unique and hand thrown and
            glazed. $15</li>
        <li>Navajo Spindles. Just a joy to use! $40</li>
        <li>Kokovoko Spinkit contains all you need to make your first hat!
            6 oz kokoroving, spindle and Spindle Spinning book. $50</li>
    </ul>


</article>

