<div class="ponies pony-info">
    <h1>Purebred Gotland Sales List</h1>
    <p style="max-width: 700px; margin: 0 auto;">Here are our success stories:  bred, raised and trained right here at Kokovoko. <strong>All</strong>
        ponies, unless noted, are problem and vice free. Of course, you're welcome
        to have a vet exam done on any pony you're considering buying. All are
        barefoot, will have a current coggins on departure, and will be current on
        Fluvac EWT, hoof trimming and worming. Transportation is available.</p>
</div>

    <div class="ponies pony-name">
        <h2>Kokovoko Valentino</h2>
    </div>



    <article class="ponies pony-text">
        <p>Shown here during his first adventure driving single! Valentino is a 2011
            bay gelding, 12.2H. By Dante out of Kokovoko Halley. Has a very quiet,
            steady disposition. Nothing we've done with him so far has upset him at
            all. Seasoned traveler already, been to Equine Affaire in MA! Has been
            ridden and driven single and pairs, and even had no objection to the
            water hazard his first time out!</p>
        <p>Cute doesn't even begin to cover it. This guy is an all-around gem. Needs
            a special child in his life!</p>
        <p><strong>$5,000</strong></p>

        <p><strong>Note to Leslie:</strong>  Do not be alarmed by the carousel that includes
            other ponies.  I'm just testing the appearance.</p>


    </article>
    <article class="ponies pony-visual">

        <div class="carouselbox center">
            <div class="buttons">
                <button class="prev">
                    ◀ <span class="offscreen">Previous</span>
                </button>
                <button class="next">
                    <span class="offscreen">Next</span> ▶
                </button>
            </div>
            <ol class="carouselcontent">
                <li><img src="/images/kokovoko-valentino.jpg"></li>
                <li><img src="/images/kokovoko-querita.jpg"></li>
                <li><img src="/images/kokovoko-x-man.jpg"></li>
            </ol>
        </div>

    </article>

    <div class="ponies pony-name">
        <h2>Kokovoko Querita</h2>
    </div>

    <article class="ponies pony-text">
        <p>2006 Buckskin Gotland filly out of Karanna by Jack. 12 hands.
            Absolutely gorgeous, big disposition and personality in a tiny package.
            Adorable pocket pony. Typey, nice mover. Will make a lovely little hunter
            and/or driving pony! Started over crossrails, w/t/c.  Also driving pairs
            in harness and won her first show! Very obedient. Excellent bloodlines.</p>
        <p><strong>$7,000</strong></p>


    </article>
    <article class="ponies pony-visual">
        <img src="/images/kokovoko-querita.jpg" alt="Kokovoko Querita">

    </article>

<div class="ponies pony-name">
    <h2>Kokovoko X-Man</h2>
</div>

<article class="ponies pony-text">
    <p>2013 bay gelding out of Kokovoko Starlee by Kokovoko Ulysses. Gentle,
        beautiful boy. Good ground manners but not yet started in work. Should
        mature at 12.2H</p>
    <p><strong>$2,000.</strong><em> More recent photo coming soon!</em></p>
    <p><strong>Note to Leslie:</strong>  just seeing what a video would look
        like here.</p>


</article>
<article class="ponies pony-visual">
    <img src="/images/kokovoko-x-man.jpg" alt="Kokovoko X-Man">
    <div class="pony-video">
        <iframe
                src="https://www.youtube.com/embed/jPVEisOExsc"
                frameborder="0" allowfullscreen>
        </iframe>
    </div>

</article>



