<article class="main">
    <h2>Particulars and Contract</h2>

    <h3>More About the Place</h3>
    <p>The Carriage house has two rooms, a kitchenette & shower.  It sleeps four
        comfortably, five in a pinch.  Queen sized bed, full and single futons, and
        couch. Breakfast is cook-your-own:  farm fresh eggs, butter and homemade
        bread. This is not the Hilton, and I'm not Martha Stewart, but you're
        guaranteed a relaxing, fun time. It's not your typical hotel. The sheets are
        dried on the line, and much of the food comes from the farm. The dishes might
        not match. But the beds are comfy and the kitchen is stocked! We like it that
        way, and think you will too.</p>
    <img class="left" src="images/toddler-with-pony.jpg">

    <p>There is no TV, and your cell phone won't work here either, but you may use
        the house phone&mdash;and there is a dvd player! We also now have wireless
        and A/C. Your suite has a gorgeous view overlooking the ponies and sheep in
        their pasture. You can lounge in bed in the morning and watch them graze
        and play. Be aware, though: you may not want to leave. Enjoy the break.
        Enjoy the ponies!</p>

    <h3>Keep in Mind</h3>

    <p>The farm is a place with dirt, flies, mud, noise and smells foreign to city
        dwellers. You will also be seasonally subject to occasional outdoor sex and
        rough play between the animals! Please be aware of that when booking your
        stay with us. Come join us for a weekend of isolation and relaxation. Don't
        expect a convenience store or room service, but your suite will be clean and
        well stocked! Most anything you may have forgotten, I probably have at the
        house.</p>

    <h3>Rates</h3>

    <p>$150/night weekends, $125/ night weekdays. 50% deposit to reserve.
        Two night minimum. Special event rate (Rolex, etc.): $250/night.</p>

    <p>Pony Driving and wool handspinning lessons available by private arrangement.</p>

    <p>We take all credit cards, checks or cash.</p>
    <img class="right" src="images/two-sheep.jpg">

    <h3>Contract</h3>

    <p>Please download and return our <a href="docs/Lorem_Ipsum_Contract.pdf" target="_blank">contract</a>.</p>




</article>