



    <article class="main article1">
        <img src="images/leslie_with_pony.jpg" alt="Leslie Bebensee with a Gotland Pony">
        <h2>About Leslie</h2>
        <p>Leslie, you should put a brief bio here.  Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. In eu urna lacinia, maximus arcu in,
            hendrerit sapien. Proin vulputate felis convallis diam convallis, in
            vehicula elit fermentum. Fusce ullamcorper nibh metus, eget convallis
            mauris sollicitudin ut. Sed a porta sem. Praesent non scelerisque erat,
            quis laoreet nulla. Sed facilisis leo ut massa malesuada condimentum.
            Vestibulum ullamcorper metus orci, ut maximus lectus scelerisque ut.
            Fusce enim diam, rutrum eget euismod in, tempus vulputate mauris.
            Maecenas et ornare purus, sit amet sollicitudin ligula.</p>


    </article>
    <article class="main article2">
        <h2>How to Get in Touch</h2>
        <blockquote>
            <strong>Kokovoko Breeding Farm</strong><br>
            c/o Leslie Bebensee<br>
            3240 Hinton Webber Rd.<br>
            Corinth, KY 41010<br>
        </blockquote><br>
        <p> <strong>Telephone</strong>:  859-420-5246</p>
        <p><strong>Email</strong>:  <a href="mailto:<%- emailContact %>"><%- emailContact %></a>.</p>
        <p><a href="https://www.facebook.com/Kokovoko-Breeding-Farm-146537705402271/?fref=ts" target ="_blank" class="social-icon"> <i class="fa fa-facebook nonfooter"></i></a>
        <a href="https://www.instagram.com/gotlandponies/" target ="_blank" class="social-icon"> <i class="fa fa-instagram nonfooter"></i></a>
        <!-- leave out Google Plus until Leslie signs up
        <a href="#" class="social-icon"> <i class="fa fa-google-plus nonfooter"></i></a></p>
        -->

        <p id="contact-invite">It's not fancy, but everybody seems pretty happy, here.
            We hope you'll join us for a visit!</p>

        <img src="images/farm_view.jpg" alt="Leslie Bebensee with a Gotland Pony">

    </article>

