



    <article class="main article1">
        <h2>Swedish Gotlands &hellip;<br>the Best Pony on the Planet!</h2>
        <img class="left" src="images/gotland_head.jpg" alt="Headshot of Gotland Pony">
        <p> Have you ever known a perfect pony? Let me define my idea: a pony you can trust.
            Trust to be kind to you, your children or grandchildren.
            It won’t bite or kick. It’ll come up to you in the pasture, and put up with
            anything you want to do with it, whether it be lead-line, trail riding,
            lessons, hunting, jumping, driving, eventing, western pleasure or barrels,
            dressage, or dressing it up for a birthday party or parade with glittered
            hooves and carrying flags or balloons on it.
            <img class="right" src="images/gotlands_team_child.jpg" alt="Gotland team with child">
            It’ll be there for you when
            you need a buddy or want a strong mount to carry that special child through
            a first show or three day event. It will know when it has that special
            assignment to hurry through barrels, cones or a cross country course or walk
            patiently with a handicapped rider or young child astride.</p>


    </article>
    <article class="main article2">
        <h2>The Carriage House Retreat &hellip;<br>a B&B Destination</h2>
            <p> Imagine a gorgeous ride in the country.  Not too far:  just enough so you're away from the houses on
            top of one another, traffic jams and the big box stores. And as you leave the highway, the temperature drops
            in the shade of the trees &hellip;</p>
            <img src="images/farm_view.jpg" alt="View of Kokovo Farm">
        <p>Before you know it you find yourself on an idyllic working organic family farm in very rural
            Harrison County, KY. Just 25 (gorgeous!) miles from the KY Horse Park, and
            halfway between Lexington and Cincinnati. Home of the largest herd of
            Swedish Gotland ponies on the continent, and a big flock of Lincoln
            Longwool sheep which provides luscious wool for handspinners' sweaters
            (and delicious lamb)! A gorgeous setting for your getaway.
            Make your Kentucky visit special!</p>

    </article>

