<article class="main">
    <blockquote class="kokovoko">Queequeg was a native of Kokovoko,<br>
        an island far away to the West and South.<br>
        It is not down on any map;<br>
        true places never are.</blockquote>
    <br>
    <p class="melville">&mdash;Herman Meliville, <em>Moby Dick</em></p>


</article>