<div class="ponies pony-info">
    <h1>Sport Pony Sales List</h1>
    <p style="max-width: 700px; margin: 0 auto;">Our sport ponies are cross-bred from Gotlands for increased size.
        All are bred, raised and trained right here at Kokovoko. <strong>All</strong>
        ponies, unless noted, are problem and vice free. Of course, you're welcome
        to have a vet exam done on any pony you're considering buying. All are
        barefoot, will have a current coggins on departure, and will be current on
        Fluvac EWT, hoof trimming and worming. Transportation is available.</p>
</div>

    <div class="ponies pony-name">
        <h2>Kokovoko Peter Pan</h2>
    </div>



    <article class="ponies pony-text">
        <p>2005 Gotland Sport Pony gelding out of a Welsh/TB jumper mare by Kokovoko
            Dante. You'll never find a more honest, handsome, athletic mover with so
            much charm.</p>
        <p>He wins Prelim Pair Combined Driving Events with his sister Ovation, and also
            will jump anything put in front of him. Loves to work for you, consistently
            asking "what else can I do," or "how can I do it better?"</p>
        <p>Lovely mover, bombproof disposition, loves to show and travel, no vices,
            no injuries, no health problems. Never shod. 13 hands, Bay with star
            and snip.</p>

        <p><strong>$8,000</strong></p>

        <p><strong>Note to Leslie:  </strong>Until we can recover the images from
            your carousels, I'm using a still of Kokovoko Plato as filler.</p>


    </article>
    <article class="ponies pony-visual">

        <img src="images/kokovoko-plato.jpg" alt="Kokovoko Peter Pan">

    </article>

    <div class="ponies pony-name">
        <h2>Kokovoko Ovation</h2>
    </div>

    <article class="ponies pony-text">
        <p>2004 Gotland Sport Pony mare, full sister and pair mate to Peter, above.
            Extremely athletic, intelligent, great work ethic. Drives Prelim Pair
            Pony and wins! Also works nicely under saddle, including jumping.
            Gorgeous mover, floaty trot. Classy and very showy.
            Looks like a small TB; not flighty or spooky.</p>
        <p>No vices or problems. Bay with star, never shod. 13.1 hands. Been
            there/done that pony.</p>
        <p><strong>$8,000</strong>, or pair with Peter for $15,000</p>


    </article>
    <article class="ponies pony-visual">
        <img src="images/kokovoko-plato.jpg" alt="Kokovoko Ovation">

    </article>

<div class="ponies pony-name">
    <h2>Kokovoko Plato</h2>
</div>

<article class="ponies pony-text">
    <p>2005 Gotland Sport Pony gelding by Jack out of Bonnie Bess. Buckskin,
        12.2, broke to ride and drive single and pairs, but does pairs better.
        Shown here with pairmate Quintero (below). Lots of energy, very athletic
        and showy. Not a beginner's or young child's pony. He would love pony
        club games or eventing. Lots of personality and flash, very kind and
        friendly.</p>
    <p><strong>$5,000.</strong></p>
</article>

<article class="ponies pony-visual">
    <img src="images/kokovoko-plato.jpg" alt="Kokovoko Plato">
</article>

<div class="ponies pony-name">
    <h2>Kokovoko Quintero</h2>
</div>

<article class="ponies pony-text">
    <p>2006 Gotland Sport Pony gelding by Jack out of Tootsie, a Canadian Welsh
        jumper champion. Liver Chestnut 13+HH with very unusual face markings,
        big blaze and white around eyes and muzzle. Striking!</p>
    <p>Feisty, energetic pony. Gorgeous very fancy mover. Broke to ride or drive,
        single or pairs. Rider or driver needs some experience. Floaty trot,
        gorgeous to watch. Very kind and well mannered. As all, no problem to clip,
        load, bathe, trim hooves or handle, and is a good traveler, easy keeper.
        Won't refuse a jump and loves dressage.  Won his first show over fences!
        Perfect Pony Club mount, and he'll love games, too!
        Been in training for the past year. Ready to show.</p>
    <p><strong>$7,500.</strong></p>
</article>

<article class="ponies pony-visual">
    <img src="images/kokovoko-quintero.jpg" alt="Kokovoko Quintero">
</article>

<div class="ponies pony-name">
    <h2>Kokovoko Quicksilver</h2>
</div>

<article class="ponies pony-text">
    <p>2006 Gotland Sport Pony out of Bonnie by Jack. VERY gentle perlino gelding,
        12.1H, rides and drives single or pair. Lovely manners, loves people.
        Joins the other ponies voluntarily to be hosed down in the summer.
        Well started walk/trot on trail, now working on consistent transitions
        and steady halt (we don't have that yet; he wants to stay moving).
        Loves to drive, very sweet pony who just wants to please, Very gentle,
        not fiery hot. Fine on a lead line or with experienced child rider.
        Pocket pony!!</p>
    <p><strong>$4,500.</strong></p>
</article>

<article class="ponies pony-visual">
    <img src="images/kokovoko-quicksilver.jpg" alt="Kokovoko Quicksilver">
</article>

<div class="ponies pony-name">
    <h2>Kokovoko Triscuit</h2>
</div>

<article class="ponies pony-text">
    <p>2009 Gotland Sport Pony gelding out of Libby by Jack. Gorgeous near twin
        to Quintessence above. 13.1H, started ground driving and well started
        riding. Sweet pony, eligible green, natural gorgeous gaits. Showing
        dressage and crossrails. Wonderful hunter/jumper. Athletic, willing and
        smart. Excellent ground manners, loads, ties, trailers, up to date on
        vaccines, coggins, teeth, hooves, etc.</p>
    <p><strong>$7,500.</strong></p>
</article>

<article class="ponies pony-visual">
    <img src="images/kokovoko-triscuit.jpg" alt="Kokovoko Triscuit">
</article>





