<header>
    <div class="icon"><a href="javascript:void(0);">&#9776; Toggle Nav</a></div>
    <h1><a class="title" href="kokovoko.html">Kokovoko</a></h1>
    <p>&hellip; a rare breeding farm</p>
</header>