<%
let initialPath = "";
let path = current.path;
if ( path.includes("posts") || path.includes("events") ) {
    initialPath = "../";
}
%>

<footer>
    <span class="footer-text element">Copyright <%- new Date().getFullYear() %>, Kokovoko Farm.</span>
    <span class="footer-text element">Contact: <a href="mailto:<%- emailContact %>">Kokovoko Farm</a></span>
        <ul class="social-icons element">
            <li><a href="https://www.facebook.com/Kokovoko-Breeding-Farm-146537705402271/?fref=ts" target ="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/gotlandponies/" target ="_blank" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>

</footer>