<footer>
    <span class="footer-text">Copyright 2017, Kokovoko Farm.</span>
    <span class="footer-text">Contact: <a href="mailto:address@example.com">Kokovoko Farm</a></span>
    <span>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/Kokovoko-Breeding-Farm-146537705402271/?fref=ts" target ="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </span>

</footer>