<header>
    <div class="icon"><a href="javascript:void(0);">&#9776; Toggle Nav</a></div>
    <h1><a class="title" href="/kokovoko.html">Kokovoko</a></h1>
    <p>&hellip; a rare breeding farm</p>
    <%
        const onBlogIndex = current.path[0] == "blog" && current.source == "index";
        const onPonyList = current.path[0] == "ponies";
        const noNews = onBlogIndex || onPonyList;
        if ( !noNews ) {
    %>
        <div class = "news-icon"><a href="javascript:void(0);" class = "fa fa-newspaper-o"> News</a></div>
    <%
        }
    %>
</header>