<nav class="clear">
    <ul id="navlist">
        <li><a href="#">Home</a></li>
        <li><a href="#">The Farm</a></li>
        <li>
        <div class="dropdown">
            <a class="dropbtn">Swedish Gotland Ponies</a>
            <ul id="myDropdown" class="dropdown-content">
                <li><a href="#">Gotlands</a></li>
                <li><a href="#">Ponies for Sale</a></li>
                <li><a href="#">Past Kokovo Ponies</a></li>
            </ul>
        </div>
        </li>
        <li><a href="#">Carriage House B&B</a></li>
        <li><a href="#">Handspinning</a></li>
        <li><a href="#">Equipment</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>