<div class = "clear navbarWrapper">
<nav>
    <ul id="navlist">
        <li class="icon"><a href="javascript:void(0);">&#9776; Toggle Nav</a></li>
        <li><a class="primary-navlink" href="#">Home</a></li>
        <li><a class="primary-navlink" href="#">The Farm</a></li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">Gotlands</a>
                <ul class="dropdown-content">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Ponies for Sale</a></li>
                    <li><a href="#">Pony Archive</a></li>
            </ul>
        </div>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">B&B</a>
                <ul class="dropdown-content">
                    <li><a href="#">A Glimpse</a></li>
                    <li><a href="#">Things to Do</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">Handspinning</a>
                <ul class="dropdown-content">
                    <li><a href="#">Supplies</a></li>
                    <li><a href="#">Related Products</a></li>
                </ul>
            </div>
        </li>
        <li><a class="primary-navlink" href="#">Equipment</a></li>
        <li><a class="primary-navlink" href="#">Events</a></li>
        <li><a class="primary-navlink" href="#">Blog</a></li>
        <li><a class="primary-navlink" href="#">Contact</a></li>
    </ul>
</nav>
</div>