
<aside class="sidebar">
    <h2>Recent Posts</h2>
    <ul>
        <%  let count = 0;
            for( var slug in public.blog.posts._data ) {
                count++;
                if ( count > postListLimit) { break };
            %>
        <li><a href="/blog/posts/<%= slug %>.html"><%= public.blog.posts._data[slug].pageTitle %></a></li>
        <%
            }; %>
    </ul>
    <h2>In the News</h2>
    <ul>
        <li><a href="#">Upcoming Show</a></li>
        <li>New Ponies</li>
        <li>Horse Park Festival</li>
    </ul>
    <p>More information goes here.</p>
    <p>And maybe another general remark.</p>
</aside>