<div class = "news-icon"><a href="javascript:void(0);" class = "fa fa-newspaper-o"> News</a></div>
<aside class="sidebar">
    <h2>In the News</h2>
    <ul>
        <li>Upcoming Show</li>
        <li>New Ponies</li>
        <li>Horse Park Festival</li>
    </ul>
    <p>More information goes here.</p>
    <p>And maybe another general remark.</p>
</aside>