<article class="main">
    <h2>Driving Clinic at the Kentucky Horse Park!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit suscipit erat,
        vel tristique neque luctus quis. Etiam ut erat eget purus luctus hendrerit. Etiam
        rhoncus imperdiet metus, a pulvinar turpis porta auctor. Suspendisse felis urna,
        egestas sit amet eleifend nec, aliquet id sem. Mauris tristique nunc eu ex rutrum,
        eget vulputate tellus convallis. Vestibulum id massa lectus. Aliquam egestas sit
        amet sem sed posuere. Suspendisse leo erat, ullamcorper sit amet elit eu, hendrerit
        dignissim massa. Vivamus non nisi vitae turpis venenatis egestas. In et orci sed
        lacus viverra interdum. Suspendisse potenti. Praesent a cursus odio. Nunc dapibus
        arcu sed justo dapibus posuere. Fusce ut hendrerit mi.</p>
</article>